<!-- JAVASCRIPT -->
<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/handlebars.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/templates.js" | relative_url }}"></script>
<script src="{{ "/assets/js/custom.js" | relative_url }}"></script>

<!-- GOOGLE FONT -->
<link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Slabo+27px">
