img.mc-item {
  width: 16px;
  height: 16px;

  @include media-breakpoint-up(sm) {
    width: 32px;
    height: 32px;
  }
  image-rendering: pixelated;
  cursor: pointer;
}

#search_result_wrapper {
  button.list-group-item-action {
    &:focus {
      outline: 0;
    }
  }
}