.recipe {
  .input-recipe {
    > div {
      display: flex;
      > span {
        @extend .invslot;
      }
    }
  }

  .card-header,
  .card-body {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
  }
  .card-body {
    padding: 0.5rem;
    @include media-breakpoint-up(sm) {
      padding: 1rem;
    }

    svg.chevron-right {
      height: 1rem;
      margin: 0 0.5rem;
      @include media-breakpoint-up(sm) {
        height: 1.5rem;
      }
      @include media-breakpoint-up(lg) {
        height: 2rem;
      }
      fill: $secondary;
    }
  }
  .card-footer {
    .item-link {
      display: flex;
      align-items: center;

      .mc-block {
        margin: 0;
      }
    }
  }
  .result {
    @extend .d-flex;
    @extend .align-items-center;
    .count {
      @extend .ms-2;
    }
  }
}
