#search_results {
  .list-group-item {
    @extend .list-group-item-action;

    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }

    .mc-block {
      margin: 6px 0 0 0;
    }
  }
}
#search_form {
  .input-group-text {
    svg {
      height: 1rem;
      fill: $secondary;
    }
  }
}