<h1>{{selected.item.displayName}}</h1>
{{#if createdWithRecipes}}
  <h2>Creates... <span class="badge badge-secondary">{{createdWithRecipes.length}}</span></h2>
  <div class="recipes row">
    {{#each createdWithRecipes}}
      {{> recipe_card this }}
    {{/each}}
  </div>
{{/if}}

{{#if usedInRecipes}}
  <h2>Used In... <span class="badge badge-secondary">{{usedInRecipes.length}}</span></h2>
  <div class="recipes row">
    {{#each usedInRecipes}}
      {{> recipe_card this}}
    {{/each}}
  </div>
{{/if}}
