  {{#each results}}
    <button type="button" data-id="{{id}}" class="list-group-item list-group-item-action">{{displayName}}</button>
  {{else}}
    <li class="list-group-item disabled">No results</li>
  {{/each}}
